.flex-wrap{
    padding-left:10px;
    padding-bottom:10px;
}


@media only screen and (max-width: 330px){
    .flex-wrap{
        padding-left: 0px;
        padding-bottom:30px;
    }
}

@media only screen and (min-width: 768px){
.flex-wrap{
    padding-left: 90px;
    padding-bottom:30px;
}
}

@media only screen and (min-width: 770px){
.flex-wrap{
    padding-left: 90px;
    padding-bottom:30px;
}
}

@media only screen and (min-width: 1020px){
.flex-wrap{
    padding-left: 220px;
    padding-bottom:30px;
}
}

@media only screen and (min-width: 1300px){
.flex-wrap{
    padding-left: 340px;
    padding-bottom:30px;
}
}

/* to align content to center */
.loader {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
